# This file is used as the docker compose file for the Telemetry Streaming Consumer images

version: '3'
services:

  graphite:
    image: "graphiteapp/graphite-statsd:1.1.5-13"
    restart: unless-stopped
    ports:
      - "3400:80"
      - "2003-2004:2003-2004"
      - "2023-2024:2023-2024"
      - "8125:8125/udp"
      - "8126:8126"
      - "8085:8080"

  elasticsearch:
    image: "elasticsearch:7.3.1"
    restart: unless-stopped
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - discovery.type=single-node

  grafana:
    image: grafana/grafana:6.4.3
    restart: unless-stopped
    depends_on:
      - graphite
      - elasticsearch
    ports:
      - "3030:3000"
